##########################################
# Remote database settings (using ReST)
##########################################

# The username will be appended to the endpoints
endpoint_datasets = http://permissions.local/users/%s/datasets/%s
endpoint_files = http://permissions.local/users/%s/files/%s
cega_creds = user:password

# Selects where the JSON object is rooted
# Use a dotted format à la JQ, eg level1.level2.level3
# Default: empty
json_prefix = 

# Enforce hostname verification.
# Default: no
# verify_hostname = yes

# Enforce server verification.
# Default: no
# verify_peer = yes

# Absolute path to the CA certificate (in PEM format).
# Required setting if verify_peer is set to yes. No default value.
# cacertfile = /etc/ega/CA.cert

# In case of client verification (in PEM format)
# certfile = /etc/ega/ssl.cert
# keyfile = /etc/ega/ssl.key

##########################################
# Local database settings (for NSS & PAM)
##########################################

# Absolute path to the SQLite database.
# Required setting. No default value.
db_path = /run/ega-users.db

# Sets how long a cache entry is valid, in seconds.
# Default: 3600 (ie 1h).
# cache_ttl = 86400
